-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: parking_system
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `floors`
--

DROP TABLE IF EXISTS `floors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `floors` (
  `floor_id` int NOT NULL AUTO_INCREMENT,
  `parking_id` int DEFAULT NULL,
  `floor_number` varchar(50) DEFAULT NULL,
  `total_slots` int DEFAULT NULL,
  `available_slots` int DEFAULT NULL,
  PRIMARY KEY (`floor_id`),
  KEY `parking_id` (`parking_id`),
  CONSTRAINT `floors_ibfk_1` FOREIGN KEY (`parking_id`) REFERENCES `parkinglots_details` (`parking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `floors`
--

LOCK TABLES `floors` WRITE;
/*!40000 ALTER TABLE `floors` DISABLE KEYS */;
INSERT INTO `floors` VALUES (1,1,'1',50,50),(2,15,'1',50,50),(3,1,'1',50,50),(4,1,'2',50,50),(5,2,'1',100,100);
/*!40000 ALTER TABLE `floors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_rows`
--

DROP TABLE IF EXISTS `parking_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_rows` (
  `row_id` int NOT NULL AUTO_INCREMENT,
  `parking_id` int DEFAULT NULL,
  `row_number` varchar(50) DEFAULT NULL,
  `floor_id` int DEFAULT NULL,
  PRIMARY KEY (`row_id`),
  KEY `parking_id` (`parking_id`),
  KEY `fk_floor` (`floor_id`),
  CONSTRAINT `fk_floor` FOREIGN KEY (`floor_id`) REFERENCES `floors` (`floor_id`),
  CONSTRAINT `parking_rows_ibfk_1` FOREIGN KEY (`parking_id`) REFERENCES `parkinglots_details` (`parking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_rows`
--

LOCK TABLES `parking_rows` WRITE;
/*!40000 ALTER TABLE `parking_rows` DISABLE KEYS */;
INSERT INTO `parking_rows` VALUES (1,1,'A',1),(2,1,'B',1),(3,1,'A',2),(4,1,'B',2);
/*!40000 ALTER TABLE `parking_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parkinglots_details`
--

DROP TABLE IF EXISTS `parkinglots_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parkinglots_details` (
  `parking_id` int NOT NULL AUTO_INCREMENT,
  `parking_name` varchar(255) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `parking_location` varchar(255) DEFAULT NULL,
  `address_1` varchar(255) DEFAULT NULL,
  `address_2` varchar(255) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `physical_appearance` varchar(255) DEFAULT NULL,
  `parking_ownership` varchar(100) DEFAULT NULL,
  `parking_surface` varchar(50) DEFAULT NULL,
  `has_cctv` varchar(10) DEFAULT NULL,
  `has_boom_barrier` varchar(10) DEFAULT NULL,
  `ticket_generated` varchar(50) DEFAULT NULL,
  `entry_exit_gates` text,
  `weekly_off` varchar(50) DEFAULT NULL,
  `parking_timing` varchar(50) DEFAULT NULL,
  `vehicle_types` varchar(255) DEFAULT NULL,
  `car_capacity` int DEFAULT NULL,
  `two_wheeler_capacity` int DEFAULT NULL,
  `parking_type` varchar(50) DEFAULT NULL,
  `payment_modes` varchar(255) DEFAULT NULL,
  `car_parking_charge` varchar(50) DEFAULT NULL,
  `two_wheeler_parking_charge` varchar(50) DEFAULT NULL,
  `allows_prepaid_passes` varchar(10) DEFAULT NULL,
  `provides_valet_services` varchar(10) DEFAULT NULL,
  `notes` text,
  `total_slots` int DEFAULT NULL,
  `available_slots` int DEFAULT NULL,
  PRIMARY KEY (`parking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=257 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parkinglots_details`
--

LOCK TABLES `parkinglots_details` WRITE;
/*!40000 ALTER TABLE `parkinglots_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `parkinglots_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parkingsessions`
--

DROP TABLE IF EXISTS `parkingsessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parkingsessions` (
  `session_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `parking_id` int DEFAULT NULL,
  `slot_id` int DEFAULT NULL,
  `entry_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `exit_time` timestamp NULL DEFAULT NULL,
  `car_number` varchar(20) DEFAULT NULL,
  `payment_status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`session_id`),
  KEY `user_id` (`user_id`),
  KEY `parking_id` (`parking_id`),
  KEY `slot_id` (`slot_id`),
  CONSTRAINT `parkingsessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `parkingsessions_ibfk_2` FOREIGN KEY (`parking_id`) REFERENCES `parkinglots_details` (`parking_id`),
  CONSTRAINT `parkingsessions_ibfk_3` FOREIGN KEY (`slot_id`) REFERENCES `slots` (`slot_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parkingsessions`
--

LOCK TABLES `parkingsessions` WRITE;
/*!40000 ALTER TABLE `parkingsessions` DISABLE KEYS */;
INSERT INTO `parkingsessions` VALUES (1,3,1,1,'2025-04-27 13:40:59','2025-04-27 13:44:55','NY1234',NULL),(2,1,1,2,'2025-04-27 13:42:55',NULL,'AP233',NULL);
/*!40000 ALTER TABLE `parkingsessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slots`
--

DROP TABLE IF EXISTS `slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slots` (
  `slot_id` int NOT NULL AUTO_INCREMENT,
  `parking_id` int DEFAULT NULL,
  `row_id` int DEFAULT NULL,
  `slot_number` varchar(50) DEFAULT NULL,
  `is_available` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`slot_id`),
  KEY `parking_id` (`parking_id`),
  KEY `row_id` (`row_id`),
  CONSTRAINT `slots_ibfk_1` FOREIGN KEY (`parking_id`) REFERENCES `parkinglots_details` (`parking_id`),
  CONSTRAINT `slots_ibfk_2` FOREIGN KEY (`row_id`) REFERENCES `parking_rows` (`row_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slots`
--

LOCK TABLES `slots` WRITE;
/*!40000 ALTER TABLE `slots` DISABLE KEYS */;
INSERT INTO `slots` VALUES (1,1,1,'A1',1),(2,1,1,'A2',0),(3,1,2,'B1',1),(4,1,2,'B2',1);
/*!40000 ALTER TABLE `slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'john_doe','password123','john@example.com','1234567890','2025-04-27 18:53:18'),(2,'jane_smith','password456','jane@example.com','0987654321','2025-04-27 18:53:18'),(3,'preethika','preethipassword','preethika@gmail.com','8919654223','2025-04-27 18:54:20'),(4,'mark','123456789pass','mark@example.com','9876543987','2025-04-27 13:33:41');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-30  9:49:11
